<!-- <app-page-header [heading]="'Tables'" [icon]="'fa-table'"></app-page-header> -->
<div class="row">
	<div class="col col-xl-12 col-lg-12">
		<div class="card mb-3">
			<div class="card-header">Details</div>
			<div class="card-block table-responsive" *ngIf="service">
				<div col-md-4>
					<div class="">
						<label>Name:</label>{{service.objectMeta.name}}
					</div>
					<div class="">
						<label>Namespace:</label>{{service.objectMeta.namespace}}
					</div>
					<div class="">
						<label>Labels:</label><app-labels [labels]="service.objectMeta.labels"></app-labels>
					</div>
					<div class="">
						<label>Creation time:</label>{{service.objectMeta.creationTimestamp}}
					</div>
					<div class="">
						<label>Selector:</label><app-labels [labels]="service.selector"></app-labels>
					</div>
					<div class="">
						<label>Type:</label>{{service.type}}
					</div>
				</div>
				
				<div col-md-4>
					<div class="">
						<label>Cluster IP:</label>{{service.clusterIP}}
					</div>
					<div class="">
						<label>Internal endpoints:</label><app-endpoint [endpoint]="service.internalEndpoint"></app-endpoint>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div *ngIf="service">
	<app-pod-list [pods]="service.podList"></app-pod-list>
</div>