<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/systems" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-cubes"></i>&nbsp;{{ '系统' }}
        </a>
        <a routerLink="/templates" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-archive"></i>&nbsp;{{ '部署模板' }}
        </a>
        <a [href]="kubernetesDashboardUrl" target="blank" tooltip="Kubernetes Dashboard" class="list-group-item">
            <i class="fa fa-fw fa-tachometer"></i> {{ 'Kubernetes' }}
        </a>
        <a class="list-group-item" href="http://dockerhub.ygsoft.com:5000/v2/_catalog" target="blank" >
            {{ '镜像仓库' }}
        </a>
        <a href="http://monitor.ygcloud.com" target="blank" tooltip="Elasticsearch" class="list-group-item">
            <i class="fa fa-fw fa-tachometer"></i> {{ '监控服务' }}
        </a>
        <a href="http://es.ygcloud.com" target="blank" tooltip="Elasticsearch" class="list-group-item">
            <i class="fa fa-fw fa-tachometer"></i> {{ '日志搜索服务' }}
        </a>
        <a href="http://kibana.ygcloud.com" target="blank" tooltip="Elasticsearch" class="list-group-item">
            <i class="fa fa-fw fa-tachometer"></i> {{ '日志分析服务' }}
        </a>
        <a href="http://dockerhub.ygsoft.com:8081/nexus" target="blank" tooltip="user: deployment pass: deployment"
           class="list-group-item">
            {{ 'Maven仓库' }}
        </a>
    </ul>
</nav>
