<div class="row" *ngIf="template">
    <div class="col col-xl-6 col-lg-6">
        <div class="card mb-3">
            <div class="card-header">{{template.name}}</div>
            <div class="card-block table-responsive">
                <div class="form-group">
                    <label>description:</label>
                    {{template.description}}
                </div>
                <div class="form-group">
                    <label>Content:</label>
                    <textarea rows="10" class="form-control" [(ngModel)]="content"></textarea>
                </div>
                <div class="form-group" *ngFor="let param of params">
                    <label>{{param.description ? param.description : param.name}}</label>
                    <input type="text" [(ngModel)]="param.value" name="{{param.name}}" class="form-control" />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" (click)="deploy()">Deploy</button>
                    <button class="btn" (click)="delete()">Delete</button>
                    <button class="btn" (click)="close()">Cancel</button>
                </div>
            </div>

            <app-status *ngIf="status" [(status)]="status"></app-status>
        </div>
    </div>
</div>
