<div class="conter-wrapper">				
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Dismissable Alerts</h3>
		</div>
		<div class="panel-body">
			<div>
				<div class="alert alert-success  alert-dismissable " role="alert">

					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span></button> 
						<i class="fa fa-check"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
						My message.
					</div>				<div class="alert alert-info  alert-dismissable " role="alert">

					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span></button> 
						<i class="fa fa-info"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
						My message.
					</div>				<div class="alert alert-warning  alert-dismissable " role="alert">

					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span></button> 
						<i class="fa fa-warning"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
						My message.
					</div>				<div class="alert alert-danger  alert-dismissable " role="alert">

					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span></button> 
						<i class="fa fa-remove"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
						My message.
					</div>	
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">Growl Alerts</h3>
					</div>
					<div class="panel-body">
						<p>						
							<button type="button" class="primary-growl btn btn-primary">Primary Growl</button>
							<button type="button" class="info-growl btn btn-info">Info Growl</button> 
							<button type="button" class="warning-growl btn btn-warning">Warning Growl</button> 
							<button type="button" class="danger-growl btn btn-danger">Danger Growl</button> 
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>