<div class="row">
	<div class="col col-xl-6 col-lg-6">
		<div class="card mb-3">
			<div class="card-header">Deploy a Containerized App</div>
			<div class="card-block" *ngIf="info">
				<div class="form-group">
					<label>App name*</label>
					<input class="form-control" [(ngModel)]="info.name" (change)="nameChange()" />
				</div>
				<div class="form-group">
					<label>Container image:</label>
					<input class="form-control" [(ngModel)]="info.containerImage" (change)="imageChange()" />
				</div>
				<div class="form-group">
					<label>Number of pods:</label>
					<input class="form-control" [(ngModel)]="info.replicas" />
				</div>
				<div class="form-group">
					<label>Service:</label>
					<select class="form-control" [(ngModel)]="info.service" #service>
						<option value="none">None</option>
						<option value="internal">Internal</option>
						<option value="external">External</option>
					</select>
				</div>
				<div class="form-group" *ngIf="service.value !== 'none'">
					<div class="row" *ngFor="let endPoint of info.portMappings">
						<div class="col-md-4 form-group">
							<label>Port*</label>
							<input type="text" class="form-control" [(ngModel)]="endPoint.port"/>
						</div>
						<div class="col-md-4 form-group">
							<label>Target port*</label>
							<input type="text" class="form-control" [(ngModel)]="endPoint.targetPort"/>
						</div>
						<div class="col-md-4 form-group">
							<label>Protocol*</label>
							<select class="form-control" [(ngModel)]="endPoint.protocol">
								<option value="TCP">TCP</option>
								<option value="UDP">UDP</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<button (click)="addEndPoint()">Add endpoint</button>
					</div>
				</div>
				
				
				<div class="formGroup">
					<input type="checkbox" #showMore [(ngModel)]="info.showMore">Show more
				</div>
				<div *ngIf="info.showMore">
					<div class="form-group">
						<label>Description:</label>
						<input class="form-control" [(ngModel)]="info.description" />
					</div>
					<div class="form-group">
						<label>Namespace:</label>
						<input class="form-control" [(ngModel)]="info.namespace" />
					</div>
					<div class="form-group">
						<div class="form-group">
							<label>Labels: </label>
						</div>
						<div class="row" *ngFor="let label of info.labels">
							<div class="col-md-6 form-group">
								<label>Key*</label>
								<input type="text" class="form-control" [(ngModel)]="label.key"/>
							</div>
							<div class="col-md-6 form-group">
								<label>Value*</label>
								<input type="text" class="form-control" [(ngModel)]="label.value"/>
							</div>
						</div>
						<div class="form-group">
							<button (click)="addLabel()">Add label</button>
						</div>
					</div>
				</div>
				
				<div class="formGroup">
					<button class="btn btn-primary" (click)="deploy()">Deploy</button>
					<button class="btn" (click)="cancel()">Cancel</button>
				</div>
				{{info | json}} 
			</div>
		</div>
	</div>
	
	<div class="col col-xl-6 col-lg-6">
		<div class="card mb-3">
			<div class="card-header">Deploy a Containerized App</div>
			<div class="card-block">
				<div class="form-group">
					<label>Content</label>
					<textarea rows="20" class="form-control" [(ngModel)]="deployData">
					</textarea>
				</div>
				<div class="form-group">
					<button (click)="deployFile()">Deploy</button>
					<button (click)="cancel()">Cancel</button>
				</div>
				{{deployData}}
			</div>
		</div>
	</div>
</div>