<div class="row">
	<div class="col col-xl-6 col-lg-6">
		<div class="card mb-3">
			<div class="card-header">Deploy a Containerized App</div>
			<div class="card-block table-responsive">
				<div col-md-4>
					<div class="form-group">
						<label>Upload a YAML or JSON file*</label>
						<input type="file"  #file class="form-control" />
					</div>
					<div class="form-group">
						<button class="btn btn-primary" (click)="upload(file)">Upload</button>
						<button class="btn">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>