<div class="row">
    <div class="col col-xl-12 col-lg-12">
        <div class="card mb-3">
            <div class="card-header">Systems</div>
            <div class="card-block table-responsive" *ngIf="systems">
                <div *ngFor="let system of systems; let j = index">
                    <div class="ibox col-xl-3">
                        <div class="ibox-title">
                            <h5>#{{j+1}} {{system.system}}</h5>
                            <div class="pull-right">
                                <a (click)="deleteSystem(system.system)"><i class="fa fa-delicious text-navy"></i></a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Type</th>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Age</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let item of system.items; let i = index">
                                    <th><i [ngClass]="getState(item)"></i></th>
                                    <th>{{item.spec.type ? 'Service' : 'Pod'}}</th>
                                    <td><a [href]="getOpenK8sUrl(item)" target="_blank">{{item.metadata.name}}</a></td>
                                    <td>{{item.status.phase ? item.status.phase : 'OK'}}</td>
                                    <td>{{item.metadata.creationTimestamp | age}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
